* {
	font-family:arial;
	font-size:20px;
}

/* Optional: Makes the sample page fill the window. */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {	
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: vh;
  flex-grow: 1;
}

/* Für Menü */

.nav-toggle.expanded {
	height: inherit;	/* normale minimale Höhe */
    margin-left: 0.4em;	
}

.nav-toggle {
	height: 100%;		/* volle Höhe */
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.nav.expanded {
	display: block;
	width: 12em;
	padding: 0.2em;
}

.nav {
	display: none;	
}


/* Felder innerhalb des Menü */

.field {
	padding: 0.2em;
	border-style: solid;
	border-color: white;
	background-color: whitesmoke;
}

.cmd {
	width: 100%;
	margin-top: 0.2em;
}

.preventCallout {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}




